.btn-group {
  position: relative;
  display: inline-block;

  .btn {
    float: left;
    border: 1px solid #D4D4D4;
  }
  .btn + .btn {
    margin-left: -1px;
  }
  .btn:not(:first-child):not(:last-child) {
    border-radius: 0px;
  }

  .btn:first-child:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .btn:last-child:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}



.btn-vertical-group {
  position: relative;
  .btn {
    display: block;
    border: 1px solid #D4D4D4;
    width: 100%;
  }


  .btn + .btn {
    margin-top: -1px;
  }

  .btn:not(:first-child):not(:last-child) {
    border-radius: 0px;
  }

  .btn:first-child:not(:last-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .btn:last-child:not(:first-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
