@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.nav {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
  @include clearfix();
  li {
    position: relative;
    display: block;
    a {
      position: relative;
      display: block;
      padding: 10px 15px;
      &:hover, &:focus {
        text-decoration: none;
        background-color: #eee;
      }
    }
  }

  li.disabled {
    a {
      color: #999;
      &:hover, &:focus {
        text-decoration: none;
        color: #999;
        cursor: not-allowed;
        background-color: transparent;
      }
    }
  }

  .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  > li {
    float: left;
    margin-bottom: -1px;
    > a {
      margin-right: 2px;
      line-height: 1.4;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      &:hover {
        border-color: #eee #eee #ddd;
      }
    }
    &.active {
      a {
        color: #555;
        cursor: default;
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
      }
    }
  }

}


.nav-stacked {
  li {
    float: none;
    a {
      border-radius: 4px;
    }
    + li {
      margin-top: 2px;
    }
    &.active {
      a,
      &:hover,
      &:focus {
        color: #fff;
        background-color: #428bca;
      }
    }
  }

}


.nav-justified {
  width: 100%;

  li {
    float: none;
    display: table-cell;
    width: 1%;
    a {
      margin-bottom: 0px;
      text-align: center;
    }
  }


}

//导航条
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  @include clearfix();
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }

  .navbar-header {
    float: left;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav {
    > li {
      float: left;
      > a {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

.navbar-brand {
  float: left;
  height: 20px;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.navbar-default {
  background-color: #fff;
}

.navbar-default {
  .navbar-brand {
    color: #777;
    &hover
    &focus{
      color: #5e5e5e;
      background: transparent;
    }
  }
}


.navbar-form {
  padding: 15px;
  margin-right: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(225, 225, 225, .1);
  display: inline-block;
  .form-group {
    vertical-align: middle;
    display: inline-block;
  }
  .btn {
    height: 20px;
    line-height: 1;
    padding: 0px 4px;
    vertical-align: middle;
    display: inline-block;
  }

}
