$bg_color: #f0f0f0 !default;


/* 按钮需要的变量 */
$border_width: 1px !default;
$enable-transitions: true !default;
$enable-shadows: true !default;
$enable-rounded: true !default;
$btn-padding-y: 7px !default;
$btn-padding-x: 12px !default;
$font-size-base: 14px !default;
$line-height: 1.4 !default;
$btn-border-radius: 4px !default;

$btn-primary-color: #ffffff !default;
$btn-primary-bg: #3DAADE !default;
$btn-primary-border: transparent !default;

$btn-danger-color: #ffffff !default;
$btn-danger-bg: #F72B2B !default;
$btn-danger-border: transparent !default;

$btn-success-color: #ffffff !default;
$btn-success-bg: #47DE3D !default;
$btn-success-border: transparent !default;

/* dropdown button */
$a-color: #000 !default;