<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />

  </head>
  <body>


    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#">Python</a></li>
      <li><a href="#">Ruby</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="disabled"><a href="#">Disable</a></li>
    </ul>
    <ul class="nav nav-stacked">
      <li class="active"><a href="#">Python</a></li>
      <li><a href="#">Ruby</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="nav-divider"></li>
      <li class="disabled"><a href="#">Disable</a></li>
    </ul>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Brand</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Python</a></li>
        <li><a href="#">Ruby</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
      <form action="post" class="navbar-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn">right</button>
      </form>
    </nav>
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ul>

    <br />
    <div>
      <a class="btn btn-primary" href="#">Inbox <span class="badge badge-danger">42</span></a>
    </div>

    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong>Best check yo self, you're not looking too good.
    </div>

    <div class="progress">
      <div class="progress-bar" style="width:60%"></div>
      <div class="progress-bar" style="width:20%;background-color: red;"></div>
    </div>
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width:60%"></div>
    </div>

    <script src="build/bundle.js"></script>
  </body>
</html>
