<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="dist/css/custom.css" />
  </head>
  <body>
    <button class="btn btn-primary" role="submit">primary</button>
    <button class="btn btn-success" role="submit">success</button>
    <button class="btn btn-danger" role="submit">danger</button>

    <div class="dropdown">
      <button class="btn btn-success">Book
	<div class="caret"></div>
      </button>
      <ul class="dropdown-menu">
	<li><a href="#">Ruby</a></li>
	<li><a href="#">Python</a></li>
	<li><a href="#">Javascript</a></li>
      </ul>
    </div>

    <div id="good">
      game
      <div class="tooltip tooltip-bottom in">
	<div class="tooltip-arrow">
	</div>
	<div class="tooltip-inner">he is so nice</div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/dropdown.js"></script>
  </body>
</html>
